* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

body {
  background-image: url(../img/main-img.png);
  background-repeat: no-repeat;
  background-position: center 0;
  height: 100vh;
}

a {
  text-decoration: none;
}

/* header */

.header {
  width: 1440px;
  margin: 0 auto;
  display: flex;
}

.header-nav-container {
  margin-top: 24px;
  margin-left: 42px;
}

.header-nav-list {
  display: flex;
  list-style: none;
}

.header-nav-list-item {
  margin-right: 45px;
}

.header-nav-list-link {
  font-size: 14px;
  letter-spacing: 0.13em;
  color: #5326d4;
}

.header-main-logo {
  margin-left: 252px;
  margin-top: 20px;
}

.header-image {
  margin-left: 556px;
  margin-top: 20px;
}

.header-image-basket {
  margin-right: 36px;
}

/* main-section */

.main-section {
  padding-top: 120px;
  padding-bottom: 238px;
}

.main-sec-main-container {
  width: 1078px;
  margin: 0 auto;
  text-align: center;
}

.main-sec-main-title {
  font-size: 62px;
  letter-spacing: 0.07em;
  color: #fff;
  margin-bottom: 25px;
}

.main-sec-main-text {
  font-size: 29px;
  color: #fff;
  width: 600px;
  margin: 0 auto;
  line-height: 144%;
  margin-bottom: 27px;
}

.main-sec-button {
  font-size: 18px;
  display: inline-block;
  color: #4144bf;
  border: 3px solid #4144BF;
  width: 149px;
  height: 58px;
  border-radius: 50px;
  cursor: pointer;
}

/* advertisement-section */

.advertisement-section {
  width: 1440px;
  height: 74px;
  background-color: #DEE6F3;
  margin: 0 auto;
}
