@media (max-width: 1150px) {
  /* header */

  .header-nav {
    display: none;
  }

  .header-menu-hamb {
    display: flex;
    align-items: center;
    z-index: 101;
  }

  .header-menu-hamb-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }

  .popup {
    position: fixed;
    top: 0px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    display: flex;
    transition: 0.5s;
  }

  .popup.open {
    left: 0;
  }

  .popup .header-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
  }

  .popup .header-list > li {
    width: 100%;
  }

  .popup .header-list > li > a {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding: 20px 0;
    text-align: center;
  }

  .popup .header-list > li > a:hover {
    background-color: rgba(142, 136, 149, 0.1);
  }

  .header-menu-hamb-field.active .bar:nth-child(2) {
    opacity: 0;
  }

  .header-menu-hamb-field.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .header-menu-hamb-field.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  body.noscroll {
    overflow: hidden;
  }

  /* advertisement-section */

  .advertisement-section .container img:nth-child(n+9) {
    display: none;
  }
}

@media (max-width: 1100px) {
  /* intro-section */

  .intro-section .container {
    flex-direction: column;
    align-items: center;
  }

  .intro-sec-description-container {
    padding-top: 50px;
  }

  /* process-section */

  .process-section .container {
    flex-direction: column;
    align-items: center;
  }

  .process-sec-link {
    margin: 100px 0 40px 0px;
  }

  .process-sec-title {
    width: 100%;
    margin: 0 0 40px 0px;
  }

  .process-sec-description {
    font-size: 26px;
    line-height: 101%;
    color: #172345;
    margin-left: 80px;
  }

  .process-sec-image-container {
    margin-top: 40px;
  }

  /* reviews-section */

  .reviews-section .container {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .reviews-sec-title-container {
    text-align: center;
  }

  /* subscription-section */

  .subscription-sec-options-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 40px;
    margin-top: 100px;
  }

}

@media (max-width: 940px) {
  /* header */

  .header .container {
    display: grid;
    grid-template-areas: 
      "hamburger logo ."
      "images images images";
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 25px;
  }

  .header-image {
    grid-area: images;
    justify-self: center;
    display: flex;
    gap: 20px;
    align-items: center;
  }

  /* main-section */
  .main-section {
    margin-top: -160px;
  }

  /* advertisement-section */

  .advertisement-section .container img:nth-child(n+7) {
    display: none;
  }

  /* offer-section */

  .offer-sec-description-container {
    display: flex;
    flex-direction: column;
    margin-top: calc(74px * 0.6);
  }

  .offer-sec-description-text-container {
    gap: 10px;
    padding-left: 0;
  }

  .offer-sec-description-text-title {
    width: 100%;
    margin-bottom: 0;
  }

}

@media (max-width: 830px) {
  /* main-section */

  .main-section {
    min-height: calc(690px * 0.6);
    padding-top: calc(185px * 0.9);
  }

  .main-sec-title {
    font-size: calc(62px * 0.6);
  }

  .main-sec-description {
    font-size: calc(29px * 0.6);
    width: calc(600px * 0.6);
  }

  .main-sec-button {
    font-size: 14px;
  }

  /* offer-section */
  
  .offer-sec-title {
    font-size: calc(24px * 0.7);
    width: 550px;
  }

  .offer-sec-subtitle {
    font-size: calc(13px * 0.8)
  }

  .offer-sec-description-text-title {
    font-size: calc(23px * 0.8);
  }

  .offer-sec-description-text-button {
    font-size: 14px;
  }

  .offer-sec-descirption-card-title { 
    font-size: 19px;
  }

  .offer-sec-descirption-card-price {
    font-size: 11px;
  }

  /* shop-section */

  .shop-section {
    padding-top: 60px;
  }

  .shop-sec-hr-container {
    gap: calc(310px * 0.7);
  }

  .shop-sec-button {
    font-size: 13px;
  }

  /* intro-section */

  .intro-sec-description-text {
    font-size: calc(33px * 0.8);
    width: 310px;
  }

  /* plastic-free-section */

  .plastic-free-section {
    min-height: calc(760px * 0.6);
    padding-top: calc(150px * 0.6);
  }

  .plastic-free-sec-title {
    font-size: calc(61px * 0.7);
    width: calc(450px * 0.6);
    margin-bottom: 19px;
  }

  .plastic-free-sec-description {
    font-size: calc(31px * 0.7);
    width: 410px;
    margin-bottom: calc(130px * 0.6);
  }

  .plastic-free-sec-button {
    font-size: calc(23px * 0.7);
    padding: 14px 20px;
  }

  /* process-section */

  .process-sec-title {
    font-size: calc(76px * 0.6);
  }

  .process-sec-description {
    font-size: calc(26px * 0.8);
  }

  /* products-section */

  .products-sec-description-text1 {
    font-size: 16px;
  }

  .products-sec-description-text2 {
    font-size: 12px;
  }

  .products-sec-description-price1 {
    font-size: 16px;
  }

  .products-sec-description-price2 {
    font-size: 13px;
  }

  .products-sec-estimation {
    font-size: 10px;
  }

  .products-sec-estimation-stars {
    font-size: 17px;
  }

  /* subscription-section */

  .subscription-section {
    min-height: calc(1508px * 0.5);
    margin-top: calc(41px * 0.6);
  }

  .subscription-sec-title {
    font-size: calc(55px * 0.8);
    width: calc(510px * 0.8);
    margin-top: calc(750px * 0.85);
    margin-bottom: 45px;
  }

  .subscription-sec-subtitle {
    font-size: calc(25px * 0.8);
    width: calc(465px * 0.8);
    margin-bottom: 30px;
  }

  .subscription-sec-button {
    font-size: 14px;
    padding: 14px 45px;
  }

  .subscription-sec-price {
    font-size: calc(12px * 0.8);
    margin-top: 30px;
  }

  /* sustainability-section */

  .sustainability-sec-title {
    font-size: calc(70px * 0.6);
  }

  .sustainability-sec-description {
    font-size: calc(23px * 0.7);
    line-height: 172%;
    letter-spacing: 0.06em;
    color: #172345;
    width: calc(676px * 0.8);
  }

  .sustainability-sec-link {
    font-size: calc(24px * 0.8);
  }

  /* reviews-section */

  .reviews-section {
    padding: 80px 0;
  }

  .reviews-section .container {
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }

  .reviews-sec-title-container {
    text-align: center;
  }

  .reviews-sec-title {
    font-size: calc(56px * 0.8);
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .reviews-sec-description {
    font-size: calc(24px * 0.7);
    width: 100%;
    margin-bottom: 20px;
  }

  .reviews-sec-text {
    font-size: calc(22px * 0.8);
  }

  .reviews-sec-feedback-container {
    gap: 40px;
  }

  .reviews-sec-circle {
    width: 45px;
    height: 45px;
  }

  .reviews-sec-feedback-title {
    font-size: calc(15px * 0.8);
    margin-bottom: 15px;
    text-align: center;
  }

  .reviews-sec-feedback-description {
    font-size: calc(21px * 0.8);
    width: 200px;
    margin: 0 auto;
  }

  .reviews-sec-feedback-text {
    font-size: calc(12px * 0.8);
    line-height: 178%;
    color: #000;
    margin-top: 15px;
  }

  /* footer */

  .footer-grid-card-title {
    font-size: 21px;
  }
  
  .footer-grid-card-list {
    gap: 14px;
  }

  .footer-grid-card-link {
    font-size: 16px;
  }
}

@media (max-width: 680px) {
  /* products-section */

  .products-sec-grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 42px;
    grid-row-gap: 56px;
    padding-bottom: 64px;
    flex-wrap: wrap;
  }

  .products-sec-grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 42px;
  }
}

@media (max-width: 650px) {
  /* advertisement-section */

  .advertisement-section .container img:nth-child(n+5) {
    display: none;
  }

  /* offer-section */

  .offer-sec-description-card-text-container {
    bottom: 0; 
    transform: translate(-50%, -30%); 
  }
}





